@import url("reset.css");

/* GLOBAL */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #161616;
  background: #D8D8D6;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */

.header {
  padding: 19px 0;
  background: #81A36B;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 30px;
}
.header-menu a {
  color: inherit;
  text-decoration: none;
}

/* Main */

/* first-section */

.first-section-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 120px;
}
.first-section-title {
  font-family: 'Architects Daughter', cursive;
  font-size: 62px;
  margin-bottom: 41px;
}
.first-section-text {
  text-align: justify;
  line-height: 164.063%;
  margin-bottom: 38px;
}
.first-section-buttons {
  display: flex;
  gap: 25px;
  align-items: center;
}
.order-button {
  background: #81A36B;
  padding: 18px 34px 21px 34px;
  border-radius: 6px;
  cursor: pointer;
}
.help-button {
  color: inherit;
  text-decoration: none;
  padding: 18px 34px 21px 34px;
  border: 1px solid #81A36B;
  border-radius: 6px;
}

/* about-us */

.about-us-container {
  max-width: 540px;
  text-align: center;
}
.about-us-title {
  font-family: 'Architects Daughter', cursive;
  font-size: 32px;
  margin-bottom: 50px;
}
.about-us-text {
  margin-bottom: 120px;
  line-height: 164.063%;
}

/* advantages */

.advantages {
  background: #81A36B;
  padding: 78px 0;
  margin-bottom: 120px;
}
.advantages-container {
  display: flex;
  justify-content: space-between;
}
.advantages-item {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.advantages-img {
  margin-bottom: 25px;
}

/* how-we-working */

.how-we-working-container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 120px;
}
.how-we-working-title {
  font-size: 32px;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  margin-bottom: 50px;
}
.how-we-working-text {
  line-height: 164.063%;
  text-align: justify;
}

/* cards */

.our-works-title {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 32px;
  margin-bottom: 50px;
}
.cards {
  display: flex;
  gap: 30px;
  margin-bottom: 120px;
}
.cards-item {
  text-align: center;
  background: #81A36B;
  width: 350px;
  height: 510px;
  border-radius: 6px;
  padding: 15px;
}
.cards-img {
  margin-bottom: 23px;
}

/* footer */

.footer {
  background: #81A36B;
  text-align: center;
  padding: 50px 0;
}
.footer p {
  margin-bottom: 15px;
}
.footer-logo {
  margin-bottom: 25px;
}
.footer-contacts {
  font-size: 24px;
  margin-bottom: 20px;
}
.footer-socials {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.footer-socials-flex {
  display: flex;
  justify-content: space-between;
  width: 117px;
}
.footer-rights {
  font-size: 16px;
  font-weight: 500;
}